<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bon Appétit</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Italiana&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap"
    rel="stylesheet">
</head>

<body>
  <!-- Skip to Content Link -->
  <a href="#maincontent" class="skip-link">Skip to Content</a>

  <!-- Navigation Bar -->
  <header>
    <nav class="app-bar">
      <div class="app-bar__brand">
        <h2>Bon Appétit</h2>
      </div>
      <div class="list-navigasi">
        <div class="app-bar__menu">
          <button id="menu" class="app-bar__menu-button" aria-label="menu">☰</button>
        </div>
        <ul class="app-bar__navigation">
          <li><a href="/">Home</a></li>
          <li><a href="#">Favorite</a></li>
          <li><a href="https://www.linkedin.com/in/rohadatul-aisy-3bb89a223/" target="_blank">About Us</a></li>
        </ul>
      </div>

    </nav>
  </header>

  <!-- Hero Section -->
  <div class="hero">
    <img src="images/heros/hero-image_1.jpg" alt="Hero Image" class="hero__image" />
    <div class="hero__content">
      <h1>Bon Appétit</h1>
      <p>Discover the best restaurants around you</p>
    </div>
  </div>

  <!-- Restaurant List -->
  <main id="maincontent">
    <section class="content">
      <div class="latest">
        <h2>Explore Restaurants</h2>
        <div class="restaurants" id="restaurants"></div>
      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <p>Copyright © 2024 - Rohadaisy</p>
  </footer>

</body>

</html>